.hero-section {
    background: url('/images/learnhub-bg.jpg') center center/cover no-repeat;
    height: 90vh;
    position: relative;
  }
  
  .hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent layer */
    z-index: 0;
  }
  
  .z-1 {
    z-index: 1;
  }
  